

.btn-link:hover {
    /* border-bottom: 1px solid rgba(0,0,0,.125);
    background-color: rgba(0,0,0,.03); */
}

a:hover {
  text-decoration: none;
}

button .full-width{
    width: 100%;
  } 


  .navbar-toggler {
    border:0px;
  }

  body#customClassBox .jumbotron {
    border-radius: 0 !important;
  }

  .navbar {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(168,168,168,1);
-moz-box-shadow: 0px 5px 5px 0px rgba(168,168,168,1);
box-shadow: 0px 5px 5px 0px rgba(168,168,168,1);
  }
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

.card-header {
  background: none;
}
.btn-expand, .btn-collapse {
  background-color: #027cc9;
  border-color:#027cc9;
  border-radius: .5em;
  padding: 10px 15px;
  cursor: pointer;
  border:0px;
  box-shadow: 0px;
  outline: none;
  color: #fff;
}
.btn-expand:hover {
  background-color:#0374ba;
}
.btn-sphere {
  background-color: #ed4b1e;
  border-color:#ed4b1e;
  border-radius: 0.5em;
  padding: 10px 25px;
  cursor: pointer;
  border:0px;
  box-shadow: 0px;
  outline: none;
  color: #fff;
}
.btn-sphere:hover {
  background-color:#e04318 ;
}
.card { border: none; }

  h5>a, h5>a:active{
	display:block;
	padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
}
.card-header  a:before {
   font-family: 'Glyphicons Halflings';
   /*content: "\e114";*/
   content: "\e259";
   float: right;
   transition: all 0.5s;
   color: #ed4b1e;
  
}
.card-header.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
} 

.padRight {
  margin-right:20px;
}


/* If sticky button required switch this on */

/* .sticky {
  position: sticky;
  top: 10px;
  z-index: 1;
} */
